#page-create-point
{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header
{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a
{
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;

}

#page-create-point header a span
{
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    margin-right: 16px;
    display: flex;
}

#page-create-point form
{
    background-color: white;
    padding: 90px;
    border-radius: 8px;
    margin: 80px auto;
    max-width: 730px;

}

#page-create-point form h1
{
    font-size: 36px;
}

#page-create-point form fieldset
{
    margin-top: 64px;
    border: 0;
}

#page-create-point form fieldset legend h2
{
     margin-bottom: 40px;
     font-size: 24;
}

#page-create-point form .field
{
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
}

#page-create-point form .field-group
{
    display: flex;
}

#page-create-point form input,
#page-create-point form select
{
     background-color: #f0f0f5;
     border: 0;
     padding: 16px 24px;
     font: 16px;
     border-radius: 9px;
}

#page-create-point form select
{
    -webkit-appearance: none;
    -mox-appearance: none;
    appearance: none;
}

#page-create-point form label
{
    font-size: 14px;
    margin-bottom: 8px;
}

#page-create-point form .field-group .field + .field
{
    margin-left: 24px;
}

#page-create-point form button
{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;

}

#page-create-point form button:hover
{
    background-color: #2fb86e;
}

#page-create-point form legend
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
}

#page-create-point form legend span
{
    color: var(--primary-color);
    display: flex;
}
.items-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

}

.items-grid li
{
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    text-align: center;

    cursor: pointer;
}

.items-grid li span
{
    flex: 1;
    display: flex;
    align-items: center;

    color: var(--title-color);

    margin-top: 12px;
}

.items-grid li.selected
{
    background-color: #e1faec;
    border: 2px solid #34cb79
}

.items-grid li img,
.items-grid li span
{
    pointer-events: none;
}